# Cleaning the first dataset (emigration_and_imigration.csv)

In [1]:
# Importing the libraries we will use during the cleaning:
import pandas as pd
import numpy as np
import json

In [2]:
# Loading the CSV file into a DataFrame using pandas library and taking a sample to check our table:
emi_imi = pd.read_csv('Datasets/emigration_and_imigration.csv', encoding='latin-1')
emi_imi.sample(3)

,ï»¿STATISTIC,STATISTIC Label,TLIST(A1),Year,C02199V02655,Sex,C02537V03072,Nationality,UNIT,VALUE
44,PEA17,Estimated Immigration (Persons in April),2008,2008,1,Male,E1420XIE,EU14 excl Irl (countries in the EU pre 2004 ex...,Thousand,3.9
226,PEA17,Estimated Immigration (Persons in April),2018,2018,1,Male,ON17,Other nationalities(17),Thousand,15.7
210,PEA17,Estimated Immigration (Persons in April),2017,2017,2,Female,IE,Irish,Thousand,13.3

In [3]:
# Now we will check dataset shape and confirm we have the 1000 values requested for this project:
emi_imi_shape = emi_imi.shape
result = emi_imi_shape[0] * emi_imi_shape[1]
print(f'We have a total of {result} values in this dataset.')

We have a total of 6120 values in this dataset.

In [4]:
# Now we want to know if our dataset is pulling the right variables datatypes:
emi_imi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ï»¿STATISTIC     612 non-null    object
 1   STATISTIC Label  612 non-null    object
 2   TLIST(A1)        612 non-null    int64
 3   Year             612 non-null    int64
 4   C02199V02655     612 non-null    object
 5   Sex              612 non-null    object
 6   C02537V03072     612 non-null    object
 7   Nationality      612 non-null    object
 8   UNIT             612 non-null    object
 9   VALUE            612 non-null    float64
dtypes: float64(1), int64(2), object(7)
memory usage: 47.9+ KB

In [5]:
# Our datatype is correct, now we will check for duplicated values:
emi_imi.duplicated().sum()

0

In [6]:
# No duplicate was found, our final check is for missing values in the dataset:
emi_imi.isnull().sum()

ï»¿STATISTIC       0
STATISTIC Label    0
TLIST(A1)          0
Year               0
C02199V02655       0
Sex                0
C02537V03072       0
Nationality        0
UNIT               0
VALUE              0
dtype: int64

In [7]:
# Our data is clean, but the column names seem confusing:
print(emi_imi.columns)

Index(['ï»¿STATISTIC', 'STATISTIC Label', 'TLIST(A1)', 'Year', 'C02199V02655',
       'Sex', 'C02537V03072', 'Nationality', 'UNIT', 'VALUE'],
      dtype='object')

In [8]:
# Since the column names are not userfriendly, we will rename it:
new_names = {'ï»¿STATISTIC': 'File Name', 'STATISTIC Label': 'File Label', 'TLIST(A1)': 'Year Clone', 
             'Year': 'Year', 'C02199V02655': 'Gender No', 'Sex': 'Gender', 'C02537V03072': 'Nationality Key',
             'Nationality': 'Nationality', 'UNIT': 'Coin Unit', 'VALUE': 'Value'}
emi_imi = emi_imi.rename(columns=new_names)

# Printing the new column names to check if it is as we want:
print(emi_imi.columns)

Index(['File Name', 'File Label', 'Year Clone', 'Year', 'Gender No', 'Gender',
       'Nationality Key', 'Nationality', 'Coin Unit', 'Value'],
      dtype='object')

In [9]:
# Filtering our dataset to match with the range in years of the other datasets:
filter_emi_imi = emi_imi[~emi_imi['Year'].isin(range(2006, 2020))]

In [10]:
# Now we will check dataset shape and confirm we have the 1000 values after filtering:
emi_imi_shape = filter_emi_imi.shape
result = emi_imi_shape[0] * emi_imi_shape[1]
print(f'We have a total of {result} values in this dataset.')

We have a total of 1080 values in this dataset.

In [11]:
# After changing the dataset, we need to save it to a new CSV file
filter_emi_imi.to_csv('Datasets/new_emigration_and_imigration.csv', index=False)

# Cleaning the second dataset (rent.json)

In [12]:
# Loading the JSON file into a DataFrame using pandas library and taking a sample to check our file:
rent_file = pd.read_json('Datasets/rent.json')
print(rent_file.sample(3))

           A           B              C                     D     E        F
202598  2018  1 to 3 bed      Apartment  Temple Bar, Dublin 2  Euro  1704.05
97941   2013     One bed  Terrace house      Woodquay, Galway  Euro     None
138551  2015     Two bed      Apartment      Sallins, Kildare  Euro   855.81

In [13]:
# Now we will check dataset shape and confirm we have the 1000 values requested for this project:
rent_file_shape = rent_file.shape
result2 = rent_file_shape[0] * rent_file_shape[1]
print(f'We have a total of {result2} values in this dataset.')

We have a total of 1573494 values in this dataset.

In [14]:
# We want to check if our dataset has any duplicates values:
rent_file.duplicated().sum()

0

In [15]:
# No duplicate was found, now we will check is for missing values in the dataset:
rent_file.isnull().sum()

A         0
B         0
C         0
D         0
E         0
F    167444
dtype: int64

In [16]:
# We got 167444 null values in column F, we need to remove those rows:
rent_file.dropna(subset=['F'], inplace=True)

In [17]:
# After dropping the null rows, we run a check again to confirm it worked:
rent_file.isnull().sum()

A    0
B    0
C    0
D    0
E    0
F    0
dtype: int64

In [18]:
# Checking the new dataset shape after removing null rows:
rent_file_shape = rent_file.shape
result3 = rent_file_shape[0] * rent_file_shape[1]
print(f'We have a total of {result3} values in this dataset.')

We have a total of 568830 values in this dataset.

In [19]:
# Now we want to know if our dataset is pulling the right variables datatypes:
rent_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94805 entries, 0 to 261874
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       94805 non-null  object
 1   B       94805 non-null  object
 2   C       94805 non-null  object
 3   D       94805 non-null  object
 4   E       94805 non-null  object
 5   F       94805 non-null  object
dtypes: object(6)
memory usage: 5.1+ MB

In [20]:
# Column A and column F are bringing the wrong datatype, we will run into column A to check why:
print(rent_file['A'].unique())

['Year' '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016'
 '2017' '2018' '2019' '2020' '2021']

In [21]:
# As we can see, the first line is bringing the header, we need to remove it, we will convert 'A' column to numeric values
rent_file['A'] = pd.to_numeric(rent_file['A'], errors='coerce')

# Then drop the rows with NaN values in 'A' column
rent_file.dropna(subset=['A'], inplace=True)

# And convert the datatypes of columns with the wrong values:
rent_file['F'] = rent_file['F'].astype(float)
rent_file['A'] = rent_file['A'].astype(int)

print(rent_file['A'].unique())

[2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021]

In [22]:
# Let's check if it worked:
rent_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94804 entries, 1 to 261874
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       94804 non-null  int32
 1   B       94804 non-null  object
 2   C       94804 non-null  object
 3   D       94804 non-null  object
 4   E       94804 non-null  object
 5   F       94804 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 4.7+ MB

In [23]:
# Checking the new dataset shape after removing null values:
rent_file_shape = rent_file.shape
result4 = rent_file_shape[0] * rent_file_shape[1]
print(f'We have a total of {result4} values in this dataset.')

We have a total of 568824 values in this dataset.

In [24]:
# Our data is clean, but the column names seem confusing:
print(rent_file.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [25]:
# Since the column names are not userfriendly, we will rename it:
new_names = {'A': 'Year','B': 'Number of Bedrooms','C': 'Property Type','D': 'Location','E': 'Coin Unit','F': 'Cost'}
rent_file = rent_file.rename(columns=new_names)

# Printing the new column names to check if it is as we want:
print(rent_file.columns)

Index(['Year', 'Number of Bedrooms', 'Property Type', 'Location', 'Coin Unit',
       'Cost'],
      dtype='object')

In [26]:
# Filtering the column 'Year' so our data will match with the range of the other datasets:
filter_rent = rent_file[rent_file['Year'] >= 2020]

In [18]:
# Checking the new dataset shape after filtering the column 'Year':
filter_rent_shape = filter_rent.shape
result5 = filter_rent_shape[0] * filter_rent_shape[1]
print(f'We have a total of {result5} values in this dataset.')

We have a total of 71784 values in this dataset.

In [27]:
# Now we are going to reduce a bit our dataset to compile the file
options_to_remove = ['1 to 2 bed', '1 to 3 bed']
new_filter_rent = filter_rent[~filter_rent['Number of Bedrooms'].apply(lambda x: any(option in x for option in options_to_remove))]
filter_rent_shape2 = new_filter_rent.shape
result7 = filter_rent_shape2[0] * filter_rent_shape2[1]
print(f'We have a total of {result7} values in this dataset.')

We have a total of 45690 values in this dataset.

In [28]:
# After changing the dataset, we need to save it to a new JSON file
new_filter_rent.to_json('Datasets/new_rent.json', orient='records')

# Cleaning the third dataset (homelessness.json)

In [29]:
# Open the JSON file
with open('Datasets/homeless.json', 'r') as f:
    data = json.load(f)

# Get the names of the columns
column_names = list(data[0].keys())

print(column_names)

['Year', 'Month', 'Region', 'Total Adults', 'Male Adults', 'Female Adults', 'Adults Aged 18-24', 'Adults Aged 25-44', 'Adults Aged 45-64', 'Adults Aged 65+', 'Number of people who accessed Private Emergency Accommodation', 'Number of people who accessed Supported Temporary Accommodation', 'Number of people who accessed Temporary Emergency Accommodation', 'Number of people who accessed Other Accommodation', 'Number of Families', 'Number of Adults in Families', 'Number of Dependants in Families']

In [30]:
# Load the JSON file into a DataFrame
homelessness_file = pd.read_json('Datasets/homeless.json')

# Preview a random sample of the DataFrame
print(homelessness_file.sample(3))

     Year    Month      Region Total Adults Male Adults Female Adults  \
128  2021     June    Midlands           75          48            27
146  2021  October    Midlands           89          54            35
33   2020    April  South-East          218         160            58

     Adults Aged 18-24 Adults Aged 25-44 Adults Aged 45-64  Adults Aged 65+  \
128                 19                41                14                1
146                 18                54                15                2
33                  33               117                60                8

    Number of people who accessed Private Emergency Accommodation  \
128                                                 49
146                                                 64
33                                                  57

    Number of people who accessed Supported Temporary Accommodation  \
128                                                 10
146                                                  0
33                                                 160

     Number of people who accessed Temporary Emergency Accommodation  \
128                                                 16
146                                                 25
33                                                   0

     Number of people who accessed Other Accommodation  Number of Families  \
128                                                  0                  12
146                                                  0                  10
33                                                   1                  12

    Number of Adults in Families Number of Dependants in Families
128                           13                               22
146                           11                               17
33                            15                               19

In [31]:
# check dataset shape
homelessness_file.shape

(162, 17)

In [32]:
# check for duplicates
homelessness_file.duplicated().sum()

0

In [33]:
# check for missing values
homelessness_file.isnull().sum()

Year                                                               0
Month                                                              0
Region                                                             0
Total Adults                                                       0
Male Adults                                                        0
Female Adults                                                      0
Adults Aged 18-24                                                  0
Adults Aged 25-44                                                  0
Adults Aged 45-64                                                  0
Adults Aged 65+                                                    0
Number of people who accessed Private Emergency Accommodation      0
Number of people who accessed Supported Temporary Accommodation    0
Number of people who accessed Temporary Emergency Accommodation    0
Number of people who accessed Other Accommodation                  0
Number of Families                                                 0
Number of Adults in Families                                       0
Number of Dependants in Families                                   0
dtype: int64

In [34]:
# preview variable datatypes
homelessness_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 17 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Year                                                             162 non-null    int64
 1   Month                                                            162 non-null    object
 2   Region                                                           162 non-null    object
 3   Total Adults                                                     162 non-null    object
 4   Male Adults                                                      162 non-null    object
 5   Female Adults                                                    162 non-null    object
 6   Adults Aged 18-24                                                162 non-null    int64
 7   Adults Aged 25-44                                                162 non-null    object
 8   Adults Aged 45-64                                                162 non-null    object
 9   Adults Aged 65+                                                  162 non-null    int64
 10  Number of people who accessed Private Emergency Accommodation    162 non-null    object
 11  Number of people who accessed Supported Temporary Accommodation  162 non-null    object
 12  Number of people who accessed Temporary Emergency Accommodation  162 non-null    int64
 13  Number of people who accessed Other Accommodation                162 non-null    int64
 14  Number of Families                                               162 non-null    int64
 15  Number of Adults in Families                                     162 non-null    object
 16  Number of Dependants in Families                                 162 non-null    object
dtypes: int64(6), object(11)
memory usage: 21.6+ KB